.container {
  padding: 2rem;
}
.newsLine {
  width: 1000px;
  background-color: white;
}
.newsPage {
  display: flex;
}

.ant-list-item {
  color: red;
}
.filtersEditor {
  display: flex;
  border-bottom-color: #DCDCDC; /* Цвет линии справа */
  border-bottom-style: solid; /* Стиль линии */
  border-bottom-width: 1px;
  padding: 20px;
}
.filtersEditor:active, :focus {
  box-shadow:
        0 0 0 3px #ffffff,
        0 0 0 4px #2f7cc0;
  outline: none;
}

.ant-checkbox-group {
  height: 200px;
}

.list {
  width: 400px;
  float: left;
  width: 80%;
}
.block {
  max-width: 100%;
  height: auto;
  overflow:hidden
}
