.comment-list {
  width: 800px;
}
.aboutArticle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.author-avatar {
  width: 60px;
  border-radius: 40px;
  margin-right: 10px;
}
.categories {
  display: flex;
  align-items: center;
}
.listItem {
  margin-left: 10px;
}
.form {
  margin-bottom: 50px;
  padding-top: 30px !important;
}
.commentWrap {
  border-top: 1px solid #d3d3d3;
  padding: 10px;
  width: 780px;
  display: flex;
  justify-content: flex-end;
}
.comment {
  width: 780px;
  border-top: 1px solid #d3d3d3;
}
.commentInput {
  border-radius: 5px !important;
  width: 600px !important;
  height: 100px !important;
}
.usernameInput {
  border-radius: 5px !important;
  width: 200px !important;
}
.bold {
  font-weight: 600;
  margin-left: 10px;
}
.inline {
  display: flex;
}
.avatar {
  background-color: '#87d068'
}